<div class="container">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="https://source.unsplash.com/random/400x500?<%= @pokemon_name.name %>"/>
        <div class="card-body">
          <h5 class="card-title"><%= @pokemon_name.name %></h5>
        </div>
      </div>
    </div>
  </div>
</div>
